In [1]:
NAME = "Anthony Kontos"

Analyzing Titanic Surivorship

For this assignment, we will analyze data on the passengers aboard the Titanic.

Use the .csv file provided. The definition of all variables can be found below:

- survival --> Survival --> 0 = No, 1 = Yes
- pclass --> Ticket class --> 1 = 1st, 2 = 2nd, 3 = 3rd
- sex --> Sex --> M = Male, F = Female
- Age --> Age in years
- sibsp --> # of siblings / spouses aboard the Titanic
- parch --> # of parents / children aboard the Titanic
- ticket --> Ticket number
- fare --> Passenger fare --> Price paid for the fare
- cabin --> Cabin number
- embarked --> Port of Embarkation --> C = Cherbourg, Q = Queenstown, S = Southampton

The main purpose of this analysis is to identify which passengers were more likely to survive the Titanic.

In [46]:
#import the data
import pandas as pd
df=pd.read_csv('TitanicData.csv')

In [5]:
#assess/preview the data
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Cabin        185 non-null    object
 11  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 67.1+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,448.582633,0.406162,2.236695,29.699118,0.512605,0.431373,34.694514
std,259.119524,0.491460,0.838250,14.526497,0.929783,0.853289,52.918930
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.250000,0.000000,1.000000,20.125000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.741700
75%,677.750000,1.000000,3.000000,38.000000,1.000000,1.000000,33.375000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

In [6]:
df.groupby(['Sex', 'Survived', ])['PassengerId'].count()

Sex     Survived
female  0            64
        1           197
male    0           360
        1            93
Name: PassengerId, dtype: int64

In [7]:
df['FamilySize'] = df['Parch'] + df['SibSp']

FamilySizeBins = pd.cut(df.FamilySize, [0, 1, 2, 7], labels=('With 1 or less', 'With 2', 'With 3 or more'), include_lowest=True)
df.groupby(['Sex', FamilySizeBins])['FamilySize'].count()

Sex     FamilySize
female  With 1 or less    172
        With 2             44
        With 3 or more     45
male    With 1 or less    371
        With 2             49
        With 3 or more     33
Name: FamilySize, dtype: int64

In [6]:
df.groupby(['Embarked'])['PassengerId'].count()

Embarked
C    130
Q     28
S    554
Name: PassengerId, dtype: int64

In [9]:
df.groupby(['Pclass'])['PassengerId'].count()

Pclass
1    186
2    173
3    355
Name: PassengerId, dtype: int64

In [25]:
minimum = df['Fare'].min() 
avg = df['Fare'].mean()
maximum = df['Fare'].max()

print('max:' + str(maximum))
print('min:' + str(minimum))
print('avg:' + str(avg))


FareBins = pd.cut(df.Fare, [minimum, avg, maximum], labels=('Less expensive than average', 'More expensive than average'))

df.groupby([FareBins])['PassengerId'].count()

max:512.3292
min:0.0
avg:34.69451400560218

Fare
Less expensive than average    535
More expensive than average    172
Name: PassengerId, dtype: int64

In [23]:
AgeGroupBins = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '60+']
df['AgeGroup'] = pd.cut(df.Age, [0,10,20,30,40,50,60,float("inf")], labels=AgeGroupBins)       
    
df.groupby(['Survived', 'AgeGroup'])['PassengerId'].count()

Survived  AgeGroup
0         0-10         26
          11-20        71
          21-30       146
          31-40        86
          41-50        53
          51-60        25
          60+          17
1         0-10         38
          11-20        44
          21-30        84
          31-40        69
          41-50        33
          51-60        17
          60+           5
Name: PassengerId, dtype: int64

In [39]:
#You should assess all the variables provided and anchor on the Survived variable. 
#As a hint, you should also combine variables. 

#For example, Were all women equally as likely to survive?

In [37]:
#Or only those with larger families?
df.groupby(['Survived', 'Sex', FamilySizeBins])['PassengerId'].count()

Survived  Sex     FamilySize
0         female  With 1 or less     35
                  With 2              9
                  With 3 or more     20
          male    With 1 or less    302
                  With 2             31
                  With 3 or more     27
1         female  With 1 or less    137
                  With 2             35
                  With 3 or more     25
          male    With 1 or less     69
                  With 2             18
                  With 3 or more      6
Name: PassengerId, dtype: int64

In [38]:
#Or only those who were younger?
df.groupby(['Survived', 'Sex', 'AgeGroup'])['PassengerId'].count()

Survived  Sex     AgeGroup
0         female  0-10         12
                  11-20        12
                  21-30        20
                  31-40         9
                  41-50        10
                  51-60         1
                  60+           0
          male    0-10         14
                  11-20        59
                  21-30       126
                  31-40        77
                  41-50        43
                  51-60        24
                  60+          17
1         female  0-10         19
                  11-20        34
                  21-30        61
                  31-40        46
                  41-50        21
                  51-60        13
                  60+           3
          male    0-10         19
                  11-20        10
                  21-30        23
                  31-40        23
                  41-50        12
                  51-60         4
                  60+           2
Name: PassengerId, dtype: int64

In [44]:
#Is there a cross interaction between survival rate, point of embarkation, and ticket class?
df.groupby(['Survived', 'Pclass', 'Embarked'])['PassengerId'].count()

Survived  Pclass  Embarked
0         1       C            21
                  Q             1
                  S            42
          2       C             7
                  Q             1
                  S            82
          3       C            23
                  Q            18
                  S           229
1         1       C            53
                  Q             1
                  S            66
          2       C             8
                  Q             1
                  S            74
          3       C            18
                  Q             6
                  S            61
Name: PassengerId, dtype: int64

In [47]:
#comparing the survival rates betweeen (i) indiivudals with siblings/spouses, and (ii) individuals with parents/children
df.groupby(['Survived', 'SibSp', 'Parch'])['PassengerId'].count()

Survived  SibSp  Parch
0         0      0        274
                 1         13
                 2          6
                 4          1
                 5          2
          1      0         50
                 1         23
                 2          5
                 3          2
                 4          3
                 5          2
                 6          1
          2      0         11
                 1          1
                 2          2
          3      1          3
                 2          5
          4      1          9
                 2          6
          5      2          5
1         0      0        130
                 1         24
                 2         20
                 3          1
          1      0         52
                 1         31
                 2         12
                 3          1
                 5          1
          2      0          2
                 1          6
                 2          2
                 3          1
          3      0          2
                 2          2
          4      2          3
Name: PassengerId, dtype: int64

In [54]:
#did those who pay more for fare have a higher survival rate (more expensive, more safe)?
#did this correlate with ticket class as we should expect?
minimum = df['Fare'].min() 
avg = df['Fare'].mean()
maximum = df['Fare'].max()

FareBins = pd.cut(df.Fare, [minimum, avg, maximum], labels=('Less expensive than average', 'More expensive than average'))

df.groupby(['Survived', FareBins, 'Pclass'])['PassengerId'].count()

Survived  Fare                         Pclass
0         Less expensive than average  1          22
                                       2          81
                                       3         254
          More expensive than average  1          39
                                       2           9
                                       3          13
1         Less expensive than average  1          23
                                       2          74
                                       3          81
          More expensive than average  1          99
                                       2           9
                                       3           3
Name: PassengerId, dtype: int64